CRUST_SEED= #palabras clave de la blockhain
CRUST_RPC=wss://rpc.crust.network
IPFS_HOST=127.0.0.1
IPFS_PORT=5001
IPFS_PROTOCOL=http
IPFS_TIMEOUT=60000
PORT=3000
CORS_ORIGIN=http://localhost:5173
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ACCOUNT_ID=
R2_BUCKET_NAME=

JWT_SECRET=
GATEWAY_INTERNAL= #Lo utilice porque mi arquitectura estaba conectada por medio de wireguard

INTERNAL_SECRET=#Contraseña secreta con la que vas a conectar con go  

DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/base-de-datos"